NODE_ENV=development
PORT=3003
TCP_PORT=4003
MONGO_URI=mongodb://demotech:DemoTech!Mongo2026@localhost:27017/product_service?authSource=admin
JWT_ACCESS_SECRET=dev-only-shared-hs256-secret-change-me
JWT_ACCESS_EXPIRES_IN=15m
ORDER_SERVICE_HOST=localhost
ORDER_SERVICE_TCP_PORT=4004
